## Oyh Oyh mouissaillon, va tu survive au Titanic ?

Tiré du Kaggle, Titanic (https://www.kaggle.com/c/titanic/overview)

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt

In [ ]:
#!pip list

### Téléchargement des csv

In [ ]:
#!wget https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/test.csv --no-check-certificate
#!wget https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv --no-check-certificate
#!wget https://raw.githubusercontent.com/minsuk-heo/kaggle-titanic/master/input/gender_submission.csv --no-check-certificate

### Analyse basique des données de "Train.csv"

On import les deux dataset pour le moment, et on va se survir de "train" pour le moment, le "test" servira pour vérifier la véracité de notre algorythme de prédiction de survie

In [ ]:
df = pd.read_csv('train.csv')
#df_test = pd.read_csv('test.csv')

In [ ]:
df.info()

In [ ]:
df.sample(10)

In [ ]:
df.isnull().sum().sort_values(ascending=False)

On peut constater qu'il y a 12 colonnes, 3 ont des valeurs non répertoriées.

In [ ]:
df["Survived"].plot(kind="hist", figsize=(5,11))

In [ ]:
df.Sex = df.Sex.map({'female' : 1, 'male' : 0})

In [ ]:
df.Sex.plot(kind="hist", figsize=(5,11))

#### Création de la colone de la langue parlé, si le passager à embarqué à Cherbourg ou non

In [ ]:
df.Embarked.nunique()

In [ ]:
df["Embarked"].unique()

In [ ]:
df.Embarked = df.Embarked.map({'C' : 0, 'Q' : 1, 'S' : 2})

In [ ]:
df.Embarked.plot(kind='hist', figsize=(7,11))

In [ ]:
anglophone = (df["Embarked"] == 1) | (df["Embarked"] == 2)
print(type(anglophone))

In [ ]:
anglophone.unique()

In [ ]:
df["anglophone"] = anglophone

In [ ]:
df.info()

In [ ]:
#df.anglophone = df.anglophone.map({'False' : 0, 'True' : 1})

In [ ]:
df["anglophone"] = df["anglophone"].astype(int)

In [ ]:
df.anglophone.value_counts()

In [ ]:
df.anglophone.unique()

In [ ]:
df["anglophone"]

In [ ]:
df.anglophone.plot(kind="hist", figsize=(7,11))

### Tadammm après seulement 121 cellules on a transformé la colonne "Embarked" en int, et ajouté une nouvelle qui est anglophone, facile hein

#### maintenant occupons nous de la colonne age, basiquement on va modifier les valeurs manquante par la moyenne, puis on supprime les colonnes qui ne nous intéresse pas pour le ML

In [ ]:
df["Age"] = df["Age"].fillna(df["Age"].mean())

In [ ]:
df = df.drop(["Cabin", "Embarked", "Ticket", "Name"], axis=1)

In [ ]:
df.info()